.layout-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8vh;
  border-radius: 0px;
  width: calc(100% - 250px);
  margin-left: 250px;
  transition: all 0.5s;
}
.auth-layout-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8vh;
  border-radius: 0px;
  width: 100%;
}

.layout-static-inactive .layout-footer {
  margin-left: 70px !important;
  width: calc(100% - 70px) !important;
}

@media (max-width: 991px) {
  .layout-footer {
    margin-left: 0px !important;
    width: 100% !important;
  }
  .layout-static-inactive .layout-footer {
    margin-left: 0px !important;
    width: 100% !important;
  }
}
